$ember-floating-mobile-buttons-number-of-child-buttons: 5;
$ember-floating-mobile-buttons-button-primary-background-color: #4183ea;
$ember-floating-mobile-buttons-button-primary-color: #fff;
$ember-floating-mobile-buttons-button-space: 70px;
$ember-floating-mobile-buttons-z-index: 99;
