$ember-floating-mobile-buttons-number-of-child-buttons: 5 !default;
$ember-floating-mobile-buttons-button-primary-background-color: #4183ea !default;
$ember-floating-mobile-buttons-button-primary-color: #fff !default;
$ember-floating-mobile-buttons-button-space: 70px !default;
$ember-floating-mobile-buttons-z-index: 99 !default;
